body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.TopNav--box {
  display: flex;
  justify-content: space-between;
  list-style-type: none;

}

.app--logo {
  display: flex;
  justify-content: center;
}
.text {
  color: white;
  display: flex;
  justify-content: center;
}

.dropdown {
    text-align-last:center;
    direction: rtl;
    width :100%;
}

.yt--dropdown {
  text-align-last:center;
  direction: rtl;
  width :100%;
}

.top--dropdown {
  text-align-last:center;
  padding-right: 29px;
  direction: rtl;
  width :100%;
}

select {
  width: 10%;
  text-align: center;
}