body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.TopNav--box {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  /* border: 2px red solid; */
}

.Nav-lis {
  margin-left: 20px;
  margin-right: 20px;
}

#dropdown-content {
  position: absolute;
  top: 12%; /* top value is the height of the button element */
  /* display: none; */
}

#dropdown-button:hover + #dropdown-content {
  display: block;
}

#weapons {
  list-style-type: none;
}

.dropdown {
  list-style-type: none;
}